{
    "type": "mysql",
    "host": "localhost",
    "port": 3306,
    "username": "root",
    "password": "****",
    "database": "express_typeorm_database",
    "entities": ["dist/entity/**/*.js"],
    "synchronize": true
 }